* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background:wheat;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5em;
}

header p {
    margin-top: 0;
}

/* Section styles */
section {
    padding: 2em;
    margin: 1em auto;
    max-width: 800px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

section h2 {
    margin-bottom: 1em;
}

section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1em;
}

#skills ul {
    list-style-type: none;
}

#skills li {
    background: #eee;
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 4px;
}

.project {
    margin-bottom: 2em;
}

.project img {
    border-radius: 8px;
}

/* Contact section */
#contact p {
    margin: 0.5em 0;
}

/* Footer */
footer {
    text-align: center;
    padding: 1em 0;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.photo{
    width:209px;
    height: 250px;
}